<head>
  <h3>
    <%= @trip.city %>
  </h3>
</head>

<p>
  Temperature: <%= @trip.temperature %> &deg;C <br>
  Created_at: <%= @trip.created_at %>
</p>


<p>
  <%= @trip.description %>
</p>

<hr/>

<%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-primary" %>
<%= link_to "Remove", trip_path(@trip), class: "btn btn-danger",
  method: :delete, data: { confirm: "Are you sure?"}%>
